parameters:
	level: 6
	paths:
		- apps/example/src
		- apps/example/tests
		- apps/trainsearch/api/src
		- libs/oebb-live-client/src
		- libs/oebb-live-client/tests
		- libs/snappy-core/src
		- libs/snappy-core/tests
		- libs/snappy-renderer/src
		- libs/snappy-renderer/tests