parameters:
	level: 6
	paths:
		- projects/example/src
		- projects/example/tests
		- projects/trainsearch-api/src
		- packages/oebb-live-client/src
		- packages/oebb-live-client/tests
		- packages/snappy-core/src
		- packages/snappy-core/tests
		- packages/snappy-renderer/src
		- packages/snappy-renderer/tests