<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>projects/example/tests</directory>
            <directory>packages/hafas-client/tests</directory>
            <directory>packages/oebb-live-client/tests</directory>
            <directory>packages/snappy-core/tests</directory>
            <directory>packages/snappy-renderer/tests</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>projects/example/src</directory>
            <directory>packages/hafas-client/src</directory>
            <directory>packages/oebb-live-client/src</directory>
            <directory>packages/snappy-core/src</directory>
            <directory>packages/snappy-renderer/src</directory>
        </include>
    </source>
</phpunit>
